.message-box{
    background-color:white;
    height: 450px;
    padding: 5px 40px;
    margin: 70px 100px;
    border-radius: 12px;
    box-shadow: 0 px 0px 4px 5px grey;
    position: relative;
    
}
.text-center{
    text-align: center;
    margin-bottom: 40px;
}
.text-message{
    font-size: 19px;
    text-align: justify;  
}
.sub-heading{
    font-size: 25px;
    font-weight: 550;
}
.lang-box{
    position: absolute;
    top:15px  ;
    border-radius: 4px; 
    padding: 2px; 
    font-size: 15px;
    background-color: black;
    color: white;
}